.Code : Start = 0x0, Size = 0x0044          ; reserved for the example programs
.ProgramCache : Start = 0xf00, Size = 0xff  ; 768 bytes of ram for programs
.WordCache : Start = 0xff00, Size = 0xff    ; 768 bytes of ram for strings



; MMIO mapping
;.Kernel : Start = 0x0, Size = 0x0f00 ; Kernel memory
;.Display : Start = 0x0f00, Size = 0x0400 ; Display is 32x32 24bit monochromatic




